@model RPPP_WebApp.ViewModels.VoditeljProjektaViewModel
@{
    ViewBag.Title = "Voditelji projekata";
}

<h2>Popis voditelja projekata</h2>

<pager page-info="@Model.PagingInfo" page-action="Index" page-title="Unesite željenu stranicu"
       class="float-end">
</pager>

<table class="table table-sm table-striped table-hover">
    <thead>
        <tr>
            <th>
                <a asp-route-sort="1" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 1 ? !Model.PagingInfo.Ascending : true)">
                    Id voditelj
                </a>
            </th>
            <th>
                <a asp-route-sort="2" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 2 ? !Model.PagingInfo.Ascending : true)">
                    Ime voditelja
                </a>
            </th>
            <th>
                <a asp-route-sort="2" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 3 ? !Model.PagingInfo.Ascending : true)">
                    Prezime voditelja
                </a>
            </th>
            <th>
                <a asp-route-sort="2" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 4 ? !Model.PagingInfo.Ascending : true)">
                    OIB
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var voditeljProjekta in Model.VoditeljProjekta)
        {
            <tr>
                <td class="text-center">@voditeljProjekta.IdVoditelj</td>
                <td class="text-left">@voditeljProjekta.ImeVoditelja</td>
                <td class="text-left">@voditeljProjekta.PrezimeVoditelja</td>
                <td class="text-left">@voditeljProjekta.Oib</td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script src="~/js/pager.js" asp-append-version="true"></script>
}

