@model RPPP_WebApp.ViewModels.VrsteProjekataViewModel
@{
    ViewBag.Title = "Vrsta Projekta";
}

<h2>Popis vrsta projekta</h2>

<pager page-info="@Model.PagingInfo" page-action="Index" page-title="Unesite željenu stranicu"
       class="float-end">
</pager>

<table class="table table-sm table-striped table-hover">
    <thead>
        <tr>
            <th>
                <a asp-route-sort="1" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 1 ? !Model.PagingInfo.Ascending : true)">
                    Id vrsta projekta
                </a>
            </th>
            <th>
                <a asp-route-sort="2" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 2 ? !Model.PagingInfo.Ascending : true)">
                    Nazviv vrste projekta
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vrstaProjekta in Model.vrsteProjekta)
        {
            <tr>
                <td class="text-left">@vrstaProjekta.IdVrstaProjekta</td>
                <td class="text-left">@vrstaProjekta.NazivVrsteProjekta</td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script src="~/js/pager.js" asp-append-version="true"></script>
}

