@model RPPP_WebApp.Models.ProjektnaDokumentacija

@{
    ViewBag.Title = "Ažuriranje dokumenta";
}

<form asp-route-id="@Model.IdDokument"
      asp-route-page="@ViewBag.Page"
      asp-route-sort="@ViewBag.Sort"
      asp-route-ascending="@ViewBag.Ascending"
      method="post">
    <div asp-validation-summary="All">
    </div>
    <div class="form-group">
        <label asp-for="NazivDokumenta"></label>
        <div><span asp-validation-for="NazivDokumenta" class="text-danger"></span></div>
        <input asp-for="NazivDokumenta" class="form-control" />
    </div>
        <div class="mb-3">
        <label asp-for="IdVrstaDokument" class="form-label"></label>
        <select asp-for="IdVrstaDokument" class="form-control" asp-items="@(new SelectList(ViewBag.Dokumenti, "Value", "Text"))"></select>
        <div class="form-text"><span asp-validation-for="IdVrstaDokument" class="text-danger"></span></div>
    </div>
    <div class="form-group">
        <label asp-for="FormatDokumenta"></label>
        <div><span asp-validation-for="FormatDokumenta" class="text-danger"></span></div>
        <textarea asp-for="FormatDokumenta" class="form-control"></textarea>
    </div>
    <div class="mb-3">
        <label asp-for="IdProjekt" class="form-label"></label>
        <select asp-for="IdProjekt" class="form-control" asp-items="@(new SelectList(ViewBag.Projekti, "Value", "Text"))"></select>
        <div class="form-text"><span asp-validation-for="IdProjekt" class="text-danger"></span></div>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Spremi</button>
        <a asp-action="Index"
           asp-route-page="@ViewBag.Page"
           asp-route-sort="@ViewBag.Sort"
           asp-route-ascending="@ViewBag.Ascending"
           class="btn btn-secondary">Odustani</a>
    </div>
</form>

@section scripts {
    <partial name="IncludeValidation" />
}
